/* Sticky header at the top */
.Header{
    position: fixed;
    width: 100%;
    height: 60px;
    border-bottom: 1px #484848 solid;
    background-color: #202124;
    z-index: 9;
}

.Header-Flex {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header-Flex > img {
    width: 30px;
}

.Header-Flex > .Heading {
    margin-left: 12px;
    font-size: x-large;
    cursor: default;
}